body.background {
    background-color: #f4d04e;
    padding: 20px;
    margin: 20px;
}
#cd {;
    box-shadow: 10px 10px 2px 0 rgba(26, 25, 25, 0.795), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    background-color: aliceblue;
}
img.blog-image {
    width: 100%;
    max-width: 300px;
    height: auto;
}
.text-preset-3 {
    
    font-size: 14px;
    font-family: 'Figtree', Arial sans-serif;
}
#lear {
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url('../картинки/Category.svg');
    font-weight: bold; 
    font-size: 14px;
    color: #1e1e1e;
}
.text-preset-3 time {
    color: #2f2f2f;
}
h1 {
    font-size: 24px;
    font-family: 'Figtree', Arial sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
p {
    color: grey;
    font-size: 16px;
    font-family: 'Figtree', Arial sans-serif;
    margin-bottom: 20px;
}
img.userpic {
    max-width: 100%;
    width: 40px;
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
}
#author {
    font-weight: bold;
    font-size: 14px;
    font-family: 'Figtree', Arial sans-serif;
    color: #1c1c1c;
}